# macOS
.DS_Store

# dotenv
*.env

# backend (Rails)
/backend/log/*
/backend/tmp/*
/backend/db/*.sqlite3
/backend/db/*.sqlite3-journal
/backend/vendor
/backend/.env
/backend/.byebug_history
/backend/storage/

# frontend (Vue/Vite)
/frontend/node_modules
/frontend/dist
/frontend/.env